# ===================================================
# ip_repo 전용 .gitignore
# 목적: 순수 IP 패키지 외의 Vivado 임시 작업 파일 차단
# ===================================================

# 1. IP 수정/생성 시 만들어지는 임시 프로젝트 파일 무시
*.xpr

# 2. 임시 프로젝트의 빌드 및 캐시 폴더 무시
*.cache/
*.hw/
*.sim/
*.runs/
*.ip_user_files/
*.gen/
.Xil/

# 3. Vivado 로그 및 시스템 찌꺼기 무시
*.jou
*.log
*.str
*.pb
